.gitignore
.vscode
.github
node_modules/
artifacts/
src/
out/
client/
bin/bin/
!client/out/main.js
tsconfig.json
webpack.config.js
vsc-extension-quickstart.md
*.zip
*.vsix
*.map
*.md
*.sh
!CHANGELOG.md
!README.md